* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    font-style:normal;
    font-size: 24px; 
    font-family: 'Roboto Slab', serif;
    /*font-family:Georgia, Times, serif; */
    text-decoration: none;
    color: rgb(61, 146, 201);
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;    
}
h3 {
    font-weight: 0;
}
h4 {
    font-weight: 0;
    font-size:small;
    color: rgb(133, 133, 133);
}
h6 {
    font-size:10px;
    margin:0em 0 0;
}
.content {
    padding: 0em 0em 0;
}
@media (min-width: 48em) {
    .content {
        padding: 0em 5em 0;
        margin-left: 0%;
    }
    .list p{
        padding: 0em 5em 0;
        margin-left: 0%;
    }

    .header {
        margin: 5% 1em 0;
        text-align: left;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
#name {
    padding: 1em 0em 1em;
    font-style:italic; 
    font-family:Georgia, Times, bold; 
    font-size:30px; 
    color:#999; 
    border-left: 0px solid #999; 
    text-align: center;
}
#name-txt{
    max-width: 80em;
    padding: 25px 25px 25px;
    font-family:Georgia, Times, serif; 
    font-size:14px; 
    color:#999; 
    /*border-top: 1px solid #999;*/
    /*margin-bottom: 1em;*/
    /*border-bottom: 1px solid #999; */
}
#name-txt a{
    font-style:italic; 
    font-family:Georgia, Times, serif; 
    font-size:14px; 
    color: rgb(61, 146, 201);  
}
#links{
    font-size:14px; 
    max-width: 100%;
    padding: 25px;
    border-top: 1px solid #999;
}
/*csslint adjoining-classes:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/
/* MAIN MENU STYLING */
.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: #fff; /* Old browsers */
    border: 0px solid #b7b7b7;
}
#filter-form{
  padding: 1em 0em 1em;
}
.list {
  margin:0;
  padding:20px 0 0;
  white-space: nowrap;
}
.list > li {
  display:block;  
  padding:5px;
  box-shadow: inset 0 1px 0 #fff;
}
.list img {
  max-width: 100%;
  float: left;    
  margin-top: 10px;
  margin-right: 1em;
}
.list h3 {
  font-size: 16px;
  margin:0 0 0rem;      
}
.list p{
  font-size: 14px;
  margin:0 0 0rem;
  padding: 0em 40px 0em; 
  white-space: normal;  
}
input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}

.center {
  
  text-align: center;
}